# 1. Обработка данных

# 1.1 Загрузка данных

In [184]:
import pandas as pd

In [185]:
df.shape

(4462, 18)

In [186]:
pd.set_option('display.float_format','{:2f}'.format) # придает числовому значению отображаемому в научной записи читаемый вид с двумя заками после запятой

In [187]:
df = pd.read_csv('data.csv', encoding = '1251')
df.head(3)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,DR_Suppl,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-11,10:15:35,2173,2004598,2,22577,Розничная реализация,18,45399,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,Катрен г.Химки,Д-р Редди с Лабораторис Лтд / Dr.REDDY's,1.000000,41.080000,51.000000,12.000000,925.000000,200000000492.000000,205,1,1.000000
1,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,261519,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,Катрен г.Химки,ФЛОРА КАВКАЗА ОАО,1.000000,18.610000,31.000000,3.000000,9.000000,200010010204.000000,205,1,1.000000
2,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,460864,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,Катрен г.Химки,КОРОЛЕВФАРМ ООО,1.000000,132.690000,209.000000,20.000000,9.000000,200010010204.000000,205,1,2.000000

In [188]:
pd.set_option('display.max_columns',21) # отображаем нужное количество столбцов в датафрейме

In [189]:
df.tail(3)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,DR_Suppl,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
4459,2022-08-12,21:43:48,5692,18002542,18,9907,Розничная реализация,18,260990,СИЛДЕНАФИЛ-СЗ 50МГ. №10 ТАБ. П/П/О /СЕВЕРНАЯ З...,Авеста,Северная Звезда,1.000000,297.740000,396.000000,0.000000,NaN,NaN,48,1,1.000000
4460,2022-08-12,21:44:46,5693,18002542,18,9907,Розничная реализация,18,41512,ТОБРАЗОН 5МЛ. ГЛ.КАПЛИ ФЛ.,Катрен г.Химки,Кадила Фармасьютикалз Лтд ( CADILA ),1.000000,322.060000,419.000000,0.000000,NaN,NaN,48,1,1.000000
4461,2022-08-12,21:46:08,5694,18002542,18,9907,Розничная реализация,15,25673,БЕЛЬВЕДЕР ЛАК П/ОБГРЫЗАНИЯ НОГТЕЙ 8МЛ. [BELWEDER],Катрен г.Химки,BELWEDER NORD SIA,1.000000,238.620000,346.000000,34.000000,9.000000,200010027618.000000,48,1,1.000000

In [190]:
df.dtypes # отображает ти данных в столбце

DR_Dat         object
DR_Tim         object
DR_NChk         int64
DR_NDoc         int64
DR_Apt          int64
DR_Kkm          int64
DR_TDoc        object
DR_TPay         int64
DR_CDrugs       int64
DR_NDrugs      object
DR_Suppl       object
DR_Prod        object
DR_Kol        float64
DR_CZak       float64
DR_CRoz       float64
DR_SDisc      float64
DR_CDisc      float64
DR_BCDisc     float64
DR_TabEmpl      int64
DR_VZak         int64
DR_Pos        float64
dtype: object

# 1.2 Манипуляции со столбцами

In [192]:
df.columns # наименование всех столбцов датафрейма

Index(['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 'DR_Apt', 'DR_Kkm', 'DR_TDoc',
       'DR_TPay', 'DR_CDrugs', 'DR_NDrugs', 'DR_Suppl', 'DR_Prod', 'DR_Kol',
       'DR_CZak', 'DR_CRoz', 'DR_SDisc', 'DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl',
       'DR_VZak', 'DR_Pos'],
      dtype='object')

In [193]:
our_col = ['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 'DR_Kol','DR_CZak', 'DR_CRoz', 'DR_SDisc', 'DR_CDisc',  'DR_Apt', 'DR_NDrugs', 'DR_TPay', 
           'DR_CDrugs', 'DR_Suppl', 'DR_BCDisc', 'DR_TabEmpl','DR_VZak', 'DR_Pos']

In [194]:
df = df[our_col]

In [195]:
df.columns = ['date_purchase', 'time_purchase', 'num_chk', 'n_doc', 'kol','c_zak', 'c_roz', 's_disc', 'c_disc',  'apteka', 'drug', 't_pay', 
           'c_drugs', 'suppl', 'bc_disc', 'tabEmpl','v_zak', 'pos'] # Меняем местами столбцы и переименовываем
df.head()

,date_purchase,time_purchase,num_chk,n_doc,kol,c_zak,c_roz,s_disc,c_disc,apteka,drug,t_pay,c_drugs,suppl,bc_disc,tabEmpl,v_zak,pos
0,2022-08-11,10:15:35,2173,2004598,1.000000,41.080000,51.000000,12.000000,925.000000,2,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,18,45399,Катрен г.Химки,200000000492.000000,205,1,1.000000
1,2022-08-11,10:27:46,2174,2004598,1.000000,18.610000,31.000000,3.000000,9.000000,2,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,15,261519,Катрен г.Химки,200010010204.000000,205,1,1.000000
2,2022-08-11,10:27:46,2174,2004598,1.000000,132.690000,209.000000,20.000000,9.000000,2,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,15,460864,Катрен г.Химки,200010010204.000000,205,1,2.000000
3,2022-08-11,10:27:46,2174,2004598,1.000000,133.650000,210.000000,21.000000,9.000000,2,СОФЬЯ ГХК КРЕМ Д/ТЕЛА ХОНДРОИТИН+ГЛЮКОЗАМИН 12...,15,172823,Катрен г.Химки,200010010204.000000,205,1,3.000000
4,2022-08-11,10:33:56,2175,2004598,1.000000,709.950000,787.000000,49.000000,925.000000,2,ГАЛВУС 50МГ. №28 ТАБ. /НОВАРТИС/,18,79056,Катрен г.Химки,200000000492.000000,205,1,1.000000

# 1.3 Работа с типами данных

In [197]:
df['bc_disc'] = df['bc_disc'].astype('str').replace('\.0', '', regex=True) # для столбца bc_disc задаем тип str(строка) и убираем лишние нули

In [198]:
#df['c_disc'] = df['c_disc'].astype('str').replace('\.0', '', regex=True)

In [199]:
pd.to_datetime(df['date_purchase']).dt.year

0       2022
1       2022
2       2022
3       2022
4       2022
        ...
4457    2022
4458    2022
4459    2022
4460    2022
4461    2022
Name: date_purchase, Length: 4462, dtype: int32

In [200]:
df['date_purchase'] = pd.to_datetime(df['date_purchase']).dt.strftime('%d.%m.%Y') # приводим дату к нужному yам формату

In [201]:
df.v_zak.unique()

array([1, 2], dtype=int64)

In [202]:
df['v_zak'] = df['v_zak'].astype('str').replace('1', 'обычный').replace('2', 'интернет')

# 1.4 Работа с пропусками

In [204]:
df.isna().any() # данные методы показывают наличие хотябы одного пропуска в столбце

date_purchase    False
time_purchase    False
num_chk          False
n_doc            False
kol              False
c_zak            False
c_roz            False
s_disc           False
c_disc            True
apteka           False
drug             False
t_pay            False
c_drugs          False
suppl            False
bc_disc          False
tabEmpl          False
v_zak            False
pos              False
dtype: bool

In [230]:
df.c_disc.fillna(0)    # заменяем пропуски на 0

0      925.000000
1        9.000000
2        9.000000
3        9.000000
4      925.000000
          ...
4457     0.000000
4458     0.000000
4459     0.000000
4460     0.000000
4461     9.000000
Name: c_disc, Length: 4462, dtype: float64

In [232]:
df.c_disc.interpolate(method='linear') # сособ заолнения пропусков расчетными значениями (соседнее значение, оегрессия и т.д.)

0      925.000000
1        9.000000
2        9.000000
3        9.000000
4      925.000000
          ...
4457     9.000000
4458     9.000000
4459     9.000000
4460     9.000000
4461     9.000000
Name: c_disc, Length: 4462, dtype: float64

In [238]:
df.dropna().shape # удаляет все строки, котрые содержат хотябы один пропуск

(1765, 18)

In [242]:
df.dropna(axis=1).shape # выбираем параметром axis=1, что удалять, строки или столбцы

(4462, 17)